footer {
  background: @nav-bg;
  display: flex;
  width: 100%;
  margin-top: 4%;
  border-radius: 10px;
  .contact {
    padding-right: 30%;
    padding-left: 2%;
    h3 {
      text-align: left;
      margin-bottom: 15%;
    }
    div a {
      font-size: 1.8rem;
      text-decoration: none;
      color: @nav-font;
      padding-bottom: 25%;
    }
  }
  .links {
    padding-right: 30%;
    h3 {
      text-align: left;
      margin-bottom: 15%;
    }
    nav {
      display: flex;
      flex-direction: column;
      a {
        font-size: 1.8rem;
        text-decoration: none;
        color: @nav-font;
        padding-bottom: 15%;
      }
    }
  }
  .social-links{
    h3 {
        text-align: left;
        margin-bottom: 15%;
      }
      div {
          display: flex;
          flex-direction: column;
          text-align: center;
          a {
        font-size: 1.8rem;
        text-decoration: none;
        color: @nav-font;
        padding-bottom: 25%;
      }
    }
  }
}
